@charset "utf-8";
/* CSS Document */



h6 {
	text-align:left;
	font-size: 1.5em;
}
.pat411 form {
	padding: 5%;
	border: solid 1px #828282;
	text-align: justify;
}
label {
	font-variant:small-caps;
	font-size: 1.2em;
	margin-bottom: 2%; 
}
section {
	margin-top: 20px;
}

input[type="checkbox"] {
	margin-right: 30px;
	}

input[type="radio"] {
	margin-left: 1%;
	}
